SNMP_HOST=REPLACE_ME
SNMP_PORT=REPLACE_ME
SNMP_COMMUNITY=REPLACE_ME

MYSQL_HOST=REPLACE_ME
MYSQL_PORT=REPLACE_ME
MYSQL_DB=REPLACE_ME
MYSQL_USER=REPLACE_ME
MYSQL_PASSWORD=REPLACE_ME
MYSQL_ROOT_PASSWORD=REPLACE_ME
