# Top-level logs folder
/logs/
/backend/logs/

# Any .log files
*.log

# Virtual environments
/.venv/
/venv/

# Python bytecode
__pycache__/
/*.py[cod]

# Docker and env files
*.pid
.env

# IDE configs
.vscode/
.idea/
.DS_Store

# Node
node_modules/
dist/
npm-debug.log*
